<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Marumori</title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/custom.css">
</head>
<body>
	<!-- APP-VUE -->
	<div id="app" class="position-relative">

	<!--section-1-->
   <div class="container-fluid border-bottom border-danger border-3">
   </div>
   <!--section-1-end-->

   <!--section-2-->
   <div id="video-banner" class="container-fluid p-0">
   	<video preload="auto" autoplay="" muted="muted" volume="0" class="w-full" loop="">
			<source src="assets/video/opening no logo.mp4" type="video/mp4">
		</video>

		<div id="logo-banner" class="flex flex-wrap content-center w-full h-screen text-white">
			<a class="navbar-brand" href="#">
				<img src="assets/jhs_logo2.png" alt="Japan Home Shield" width="250">
			</a>
		</div>
   </div>
   <!--section-2-end-->

   <!--section-3-->
   <br><br>
   <div class="container-fluid mt-1">
      <div class="container">
         <div class="row">

         	<div class="col-md-10 offset-md-1">
         		<div class="row">
         			<div class="col-md-12">
				         <h1 class="display-6 fw-bold">ジャパンホームシールドCG作成サービス</h1>
         			</div>
         		</div>

         		<!-- row -->
         		<div class="row">
         			<div class="col-md-12 text-center" style="text-shadow: 0px 3px white;">
         				<span class="fs-2 fw-bold text-danger">年間</span>
         				<span class="display-4 fw-bold text-danger">3,000</span>
         				<span class="fs-2 fw-bold text-danger">棟の</span>
         				<span class="display-4 fw-bold text-danger">実績！建売･分譲</span>
         				<span class="fs-2 fw-bold text-danger">に</span>
         				<span class="display-4 fw-bold text-danger">強い</span>
         				<span class="fs-2 fw-bold text-danger">パース制作</span>
         				
         			</div>
         		</div>
         		<!-- row-end -->

         		<!-- row -->
         		<div class="row py-3" style="border-color: #0BA2DE!important; border-top: 2.5rem solid #0BA2DE!important; margin-top:-1.7rem;">
         			<div class="col-md-12">

         				<div class="row">
         					<!-- col -->
         					<div class="col-md-6">
         						<div class="row m-3 card p-2 rounded-3">
         							<div class="col-md-12">
         								<p class="fs-3 border-bottom pb-2">建築完了前に成約を！</p>
         								<p>建売住宅販売に欠かせないのが建築パース。建築パースで建築確認申請後、
         								即営業活動を開始できます。弊社では建築完了前に１日でも早い成約を目指して制作にあたります。</p>
         							</div>
         						</div>
         					</div>
         					<!-- col-end -->

         					<!-- col -->
         					<div class="col-md-6">
         						<div class="row m-3 card p-2 rounded-3">
         							<div class="col-md-12">
         								<p class="fs-3 border-bottom pb-2">動画マーケティングがキーワード</p>
         								<p>住宅業界でも Youtube や SNS による販促が普及した現在、単に形状を伝える動画ではなく、建物をより魅力的に分かりやすく伝える動画をご提供致します。</p>
         							</div>
         						</div>
         					</div>
         					<!-- col-end -->
         				</div>
         				
         			</div>
         		</div>
         		<!-- row-end -->

         		<!-- row -->
         		<div class="row mt-1 mb-5" style="background-color: #f5f5f5;">
         			<div class="col-md-12">

         				<div class="row">
         					<!-- col -->
         					<div class="col-md-6">
         						<div class="row m-3 p-2">
         							<div class="col-md-12">
         								<p class="fs-3">チャットでいつでも連絡がつく安心</p>
         								<p>制作の連絡関係はチャットを使用します。通常の確認連絡や緊急時でも素早く返信を行いますので、隣の席のスタッフに依頼するように、ご連絡頂けます。</p>
         							</div>
         						</div>
         					</div>
         					<!-- col-end -->

         					<!-- col -->
         					<div class="col-md-6">
         						<div class="row m-3 p-2">
         							<div class="col-md-12">
         								<p class="fs-3">建築のプロによるパース制作</p>
         								<p>住宅に特化し、年間 3,000 棟にのぼる豊富な制作実績を持っています。一級建築士による監修により、どのような工法や特殊な意匠でも、精度の高い建築パースをご提供します。</p>
         							</div>
         						</div>
         					</div>
         					<!-- col-end -->
         				</div>
         				
         			</div>
         		</div>
         		<!-- row-end -->

         		<div class="row mt-3">
         			<div class="d-grid gap-2 col-md-4">
			            <a href="#cg" class="btn btn-danger btn-lg fs-4 btn-block">1. CGパース制作</a>
         			</div>
         			<div class="d-grid gap-2 col-md-4">
			            <a href="#movie" class="btn btn-danger btn-lg fs-4 btn-block">2. CG動画制作</a>
         			</div>
         			<div class="d-grid gap-2 col-md-4">
			            <a href="#vr" class="btn btn-danger btn-lg fs-4 btn-block">3. シミュレーションVR制作</a>
         			</div>
         		</div>
         	</div>

	      </div>
      </div>

   </div>
   <!--section-3-end-->

	<!-- --------------------------------------------------------------------------------------------------- -->
   <!-- CG -->
   <!--section-4-->
   <br>
   <div id="cg" class="container-fluid mt-4">
      <div class="container">
         <div class="row">

         	<div class="col-md-10 offset-md-1">
         		<div class="row">
         			<div class="col-md-12">
         				<br>
         				<div class="border-bottom border-danger border-3 position-relative mt-5">
         					<span class="no-service bg-danger rounded">
         						<span class="no text-white fw-bold">1</span>
         					</span>
         					<span class="title-service fs-3 fw-bold">CGパース制作</span>
         				</div>
         			</div>
         		</div>

         		<div class="row mt-3 position-relative">
         			<div class="col-md-10 offset-md-1">
         				<img @click="showImgPreview" :src="cg.img1" data-img="cg.img1" class="cr-p previewImg" alt="" width="100%">
         			</div>
         		</div>

         		<div class="row mt-3">
         			<div class="col-md-10 offset-md-1">
         				<p class="text-start mt-2 fs-5">
         					販促やプレゼンでプランの魅力を最大限に引き出す高品質なパース。建築前に建物の魅力を顧客に伝え、営業での機会損失を減らします。
         					SUUMO 新基準対応で、現地周辺環境も再現、ポータルサイト上での注目度をアップさせます。<br>
         					A2 サイズの高解像度で大判印刷も可能。広告やパンフレットのメインイメージにも活用いただけます。
         				</p>
         				<!-- <p class="text-center">A2 サイズの高解像度で大判印刷も可能。広告やパンフレットのメインイメージに最適です。</p> -->
         				<p class="text-center"></p>

         				<h3 class="mt-4 fs-4 fw-bold">制作事例</h3>
         				<div class="row">
         					<div class="col-md-3">
         						<img @click="showImgPreview" :src="cg.img2" data-img="cg.img2" class="cr-p previewImg" alt="" width="100%">
         					</div>
         					<div class="col-md-3">
         						<img @click="showImgPreview" :src="cg.img3" data-img="cg.img3" class="cr-p previewImg" alt="" width="100%">
         					</div>
         					<div class="col-md-3">
         						<img  @click="showImgPreview" :src="cg.img4" data-img="cg.img4" class="cr-p previewImg" alt="" width="100%">
         					</div>
         					<div class="col-md-3">
         						<img  @click="showImgPreview" :src="cg.img5" data-img="cg.img5" class="cr-p previewImg border" alt="" width="100%">
         					</div>
         				</div>

         				<!-- <h3 class="mt-4 fs-4 fw-bold">制作費用：35,000円</h3> -->
         				<div class="row mt-4">
         					<div class="col-md-2 text-end">
         						制作内容：
         					</div>
         					<div class="col-md-10">
         						外観または内観 CG パース 1 カット（120 ㎡ まで）、A2 印刷レベルの jpg 形式、メール納品
         					</div>
         				</div>
         				<div class="row mt-2">
         					<div class="col-md-2 text-end">
         						必要資料：
         					</div>
         					<div class="col-md-10">
         						平面図、立面図、配置図、仕上表、Google Map で検索できる現地住所
         					</div>
         				</div>
         				<div class="row mt-2">
         					<div class="col-md-2 text-end">
         						納期：
         					</div>
         					<div class="col-md-10">5 営業日以内</div>
         				</div>
         				<div class="row">
         					<div class="col-md-2 text-end"></div>
         					<div class="col-md-10 text-secondary fs-08">
         						※※初回のご依頼はヒアリングや制作の流れを説明しながら進めますので 10 営業日以内となります
         					</div>
         				</div>

         				<div class="row">
         					<div class="col-md-12 text-center">
         					</div>
         				</div>

         			</div>
         		</div>

         	</div>

	      </div>
      </div>

   </div>
   <!--section-4-end-->
   <!-- CG-END -->
	<!-- --------------------------------------------------------------------------------------------------- -->

	<!-- --------------------------------------------------------------------------------------------------- -->
   <!-- MOVIE -->
   <!--section-4-->
   <br>
   <div id="movie" class="container-fluid mt-4">
      <div class="container">
         <div class="row">

         	<div class="col-md-10 offset-md-1">
         		<div class="row">
         			<div class="col-md-12">
         				<br>
         				<div class="border-bottom border-danger border-3 position-relative mt-5">
         					<span class="no-service bg-danger rounded">
         						<span class="no text-white fw-bold">2</span>
         					</span>
         					<span class="title-service fs-3 fw-bold">ウォークスルー動画</span>
         				</div>
         			</div>
         		</div>

         		<div class="row mt-3 position-relative">
         			<div class="col-md-10 offset-md-1">
         				<img @click="showVidPreview" :src="movie.img1" data-vid="movie.vid1" class="cr-p previewImg" alt="" width="100%">
         				<div @click="showVidPreview"  data-vid="movie.vid1" class="video-btn-layer fs-3 rounded cr-p">
         					▲
         				</div>
         			</div>
         		</div>

         		<div class="row mt-3">
         			<div class="col-md-10 offset-md-1">
         				<p class="text-left mt-2 fs-5">
         					住宅業界でも Youtube や SNS による販促が普及し、多くの住宅会社が動画を活用した販促を行っています。
         					しかし、建築前の建売住宅に対応できる住宅会社は少ない状況です。競合よりも早く営業を開始、さらに単に形状を伝える動画ではなく、建物をより魅力的に分かりやすく伝える動画を制作。
         					人の目線で歩くモデルハウスツアーで住宅一棟まるごと紹介できます。
         				</p>
         				<!-- <p class="text-center">A2 サイズの高解像度で大判印刷も可能。広告やパンフレットのメインイメージに最適です。</p> -->
         				<p class="text-center"></p>

         				<h3 class="mt-4 fs-4 fw-bold">制作事例</h3>
         				<div class="row">
         					<div class="col-md-3">
         						<img @click="showVidPreview" :src="movie.img2" data-vid="movie.vid2" class="cr-p previewImg" alt="" width="100%">
         					</div>
         					<div class="col-md-3">
         						<img @click="showVidPreview" :src="movie.img3" data-vid="movie.vid3" class="cr-p previewImg" alt="" width="100%">
         					</div>
         					<div class="col-md-3">
         						<img @click="showVidPreview" :src="movie.img4" data-vid="movie.vid4" class="cr-p previewImg" alt="" width="100%">
         					</div>
         					<div class="col-md-3">
         						<img @click="showVidPreview" :src="movie.img5" data-vid="movie.vid5" class="cr-p previewImg border" alt="" width="100%">
         					</div>
         				</div>

         				<!-- <h3 class="mt-4 fs-4 fw-bold">制作費用：50,000円</h3> -->
         				<div class="row mt-4">
         					<div class="col-md-2 text-end">
         						制作内容：
         					</div>
         					<div class="col-md-10">
         						外観 + 内観、住宅 1 棟（120 ㎡ まで）の CG 動画、2 分程度、　物件タイトル + 会社ロゴ入り、MP4 形式納品
         					</div>
         				</div>
         				<div class="row mt-2">
         					<div class="col-md-2 text-end">
         						必要資料：
         					</div>
         					<div class="col-md-10">
         						平面図、立面図、配置図、仕上表、Google Map で検索できる現地住所
         					</div>
         				</div>
         				<div class="row mt-2">
         					<div class="col-md-2 text-end">
         						納期：
         					</div>
         					<div class="col-md-10">15 営業日以内</div>
         				</div>
         				<div class="row">
         					<div class="col-md-2 text-end"></div>
         					<div class="col-md-10 text-secondary fs-08">
         						※初回のご依頼はヒアリングや制作の流れを説明しながら進めますので 20 営業日以内となります
         					</div>
         				</div>
         				<div class="row mt-2">
         					<div class="col-md-2 text-end text-danger">
         						注意事項：
         					</div>
         					<div class="col-md-10">
         						CG 動画制作ご依頼の際は、「1.CG パース制作」サービスを同時に発注いただく必要があります<br>
         						分譲地の場合、建築棟数分の 1.CG パース制作」サービスの発注が必要となります
         					</div>
         				</div>

         				<div class="row">
         					<div class="col-md-12 text-center">
         					</div>
         				</div>

         			</div>
         		</div>

         	</div>

	      </div>
      </div>

   </div>
   <!--section-4-end-->
   <!-- MOVIE-END -->
	<!-- --------------------------------------------------------------------------------------------------- -->

	<!-- --------------------------------------------------------------------------------------------------- -->
   <!-- VR -->
   <!--section-4-->
   <br>
   <div id="vr" class="container-fluid mt-4">
      <div class="container">
         <div class="row">

         	<div class="col-md-10 offset-md-1">
         		<div class="row">
         			<div class="col-md-12">
         				<br>
         				<div class="border-bottom border-danger border-3 position-relative mt-5">
         					<span class="no-service bg-danger rounded">
         						<span class="no text-white fw-bold">3</span>
         					</span>
         					<span class="title-service fs-3 fw-bold">シミュレーション VR</span>
         				</div>
         			</div>
         		</div>

         		<div class="row mt-3 position-relative">
         			<div class="col-md-10 offset-md-1">
         				<img @click="openNewWindow" :src="vr.img1" data-url="vr.url1" class="cr-p previewImg" alt="" width="100%">
         				<!-- <div class="video-btn-layer fs-3 rounded cr-p">▲</div> -->
         			</div>
         		</div>

         		<div class="row mt-3">
         			<div class="col-md-10 offset-md-1">
         				<p class="text-start fs-5 mt-2">
         					建築予定地の写真と完成イメージを切り替え。360°見渡して周辺環境や建物の完成イメージをわかりやすく伝えます。
         					スマホやPC、VR ゴーグルなどで閲覧でき、特別なアプリは不要。カラーシミュレーションや顧客別にアクセス解析も可能。今後注目の販促ツールです。
         				</p>
         				<!-- <p class="text-center">A2 サイズの高解像度で大判印刷も可能。広告やパンフレットのメインイメージに最適です。</p> -->
         				<p class="text-center"></p>

         				<!-- <h3 class="mt-4 fs-4 fw-bold">制作費用：20,000円</h3> -->
         				<div class="row mt-4">
         					<div class="col-md-2 text-end">
         						制作内容：
         					</div>
         					<div class="col-md-10">
									外観ビフォーアフター VR(2 アングルまで )　アクセス URL および QR コード納品
         					</div>
         				</div>
         				<div class="row mt-2">
         					<div class="col-md-2 text-end">
         						必要資料：
         					</div>
         					<div class="col-md-10">
         						平面図、立面図、配置図、仕上表、現地 360° 写真 (RICOH THETA( シータ ) などの全天球撮影カメラで撮影した写真 )
         					</div>
         				</div>
         				<div class="row mt-2">
         					<div class="col-md-2 text-end">
         						納期：
         					</div>
         					<div class="col-md-10">10 営業日以内</div>
         				</div>
         				<div class="row">
         					<div class="col-md-2 text-end"></div>
         					<div class="col-md-10 text-secondary fs-08">
         						※初回のご依頼はヒアリングや制作の流れを説明しながら進めますので 15 営業日以内となります
         					</div>
         				</div>
         				<div class="row mt-2">
         					<div class="col-md-2 text-end text-danger">
         						注意事項：
         					</div>
         					<div class="col-md-10">
         						CG 動画制作ご依頼の際は、「1.CG パース制作」サービスを同時に発注いただく必要があります<br>
         						分譲地の場合、建築棟数分の 1.CG パース制作」サービスの発注が必要となります<br>
         						アクセス URL の有効期限は 1 年間です。延長を希望される場合は別途ご相談ください。
         					</div>
         				</div>

         				<div class="row">
         					<div class="col-md-12 text-center">
         					</div>
         				</div>

         			</div>
         		</div>

         	</div>

	      </div>
      </div>

   </div>
   <!--section-4-end-->
   <!-- VR-END -->
	<!-- --------------------------------------------------------------------------------------------------- -->

	<!-- --------------------------------------------------------------------------------------------------- -->
   <!-- FLOW -->
   <!--section-4-->
   <br>
   <div class="container-fluid mt-4">
      <div class="container">
			<!-- row -->
         <div class="row">
         	<div class="col-md-10 offset-md-1">
         		<div class="row">
         			<div class="col-md-12">
         				<br>
         				<div class="border-bottom border-danger border-3 position-relative mt-5">
         					<span class="title-service fs-3 fw-bold">制作の流れ</span>
         				</div>
         			</div>
         		</div>
         	</div>
	      </div>
			<!-- row-end -->

			<!-- row -->
         <div class="row">
         	<div class="col-md-10 offset-md-1">
         		<div class="row">
         			<div class="col-md-10 offset-md-1">

							<!-- row -->
							<div class="row mt-3">
								<div class="col-md-7">
									<!-- row -->
									<div class="row">
										<div class="col-md-12">
											<b>1. 制作依頼</b><br>
											<span>制作依頼はJHSオンラインから行えます。</span><br>
											<img class="mt-4 ms-2" src="assets/arrow.jpg" alt="arrow" width="80px">
										</div>
									</div>
									<!-- row-end -->

									<!-- row -->
									<div class="row mt-3">
										<div class="col-md-12">
											<b>2. 依頼内容打ち合わせ</b><span class="fs-08 text-secondary"></span><br>
											<span>依頼内容の打ち合わせは Chatwork を原則使用します。初回の依頼については、制作担当よりお電話させていただき、必要資料と制作の流れをご案内します。</span><br>
											<img class="mt-4 ms-2" src="assets/arrow.jpg" alt="arrow" width="80px">
										</div>
									</div>
									<!-- row-end -->

									<!-- row -->
									<div class="row mt-3">
										<div class="col-md-12">
											<b>3. 制作（アングル･形状チェック）</b><br>
											<span>
												制作の途中で、形状･アングルチェックをお送りします。作成アングルと修正箇所をご指示いただき、それらの調整完了後、仕上げに入ります。アングル･形状チェック以降の形状変更は調整費が発生致しますので、細かくチェックをお願いします。
											</span><br>
											<img class="mt-4 ms-2" src="assets/arrow.jpg" alt="arrow" width="80px">
										</div>
									</div>
									<!-- row-end -->

									<!-- row -->
									<div class="row mt-3">
										<div class="col-md-12">
											<b>4. 制作（最終チェック）</b><br>
											<span>最終のチェックをお送りします。色味など微細な調整については対応可能です。最終仕上がりに問題がなければ制作完了となります。</span><br>
											<img class="mt-4 ms-2" src="assets/arrow.jpg" alt="arrow" width="80px">
										</div>
									</div>
									<!-- row-end -->
									
									<!-- row -->
									<div class="row mt-3">
										<div class="col-md-12">
											<b>5. 納品</b><br>
											<span>電子署名システムで納品書をお送りします。オンライン上にて受領確認していただき納品完了となります。</span>
										</div>
									</div>
									<!-- row-end -->
								</div>

								<div class="col-md-5">
									<div class="row">
										<div class="col-md-12">
											<img class="border border-secondary mb-4" src="assets/img/flow/flow_1.jpg" alt="jhs_online" width="100%" style="height: auto;">
											<img class="border border-secondary mb-4" src="assets/img/flow/flow_2.jpg" alt="jhs_online" width="100%" style="height: auto;">
											<img class="border border-secondary" src="assets/img/flow/flow_3.jpg" alt="jhs_online" width="100%" style="height: auto;">
										</div>
									</div>
								</div>
							</div>
							<!-- end-cols -->
							<!-- row-end -->
         			</div>
         		</div>
         	</div>
	      </div>
			<!-- row-end -->

      </div>
		<!-- container-end -->

   </div>
	<br><br>
   <!--section-4-end-->
   <!-- FLOW-END -->
	<!-- --------------------------------------------------------------------------------------------------- -->

	<!-- --------------------------------------------------------------------------------------------------- -->
   <!-- FAQ -->
   <!--section-5-->
   <br>
   <div class="container-fluid mt-5 py-4" style="background-color: #f5f5f5;">
      <div class="container">
			<!-- row -->
         <div class="row">
         	<div class="col-md-10 offset-md-1">
         		<div class="row">
         			<div class="col-md-12">
         				<br>
         				<div class="border-bottom border-danger border-3 position-relative mt-5">
         					<span class="title-service fs-3 fw-bold">よくある質問</span>
         				</div>
         			</div>
         		</div>
         	</div>
	      </div>
			<!-- row-end -->

			<!-- row -->
         <div class="row">
         	<div class="col-md-10 offset-md-1">
         		<div class="row">
         			<div class="col-md-10 offset-md-1">

							<!-- row -->
							<div v-if="i <= currentFaq" v-for="(faq, i) in faqs" class="row mt-4">
								<div class="col-md-12">
									<b><u v-html="faq.t"></u></b>
									<b class="pe-2">Q.</b><span v-html="faq.q"></span>
									<br>
									<b class="pe-2">A.</b><span v-html="faq.a"></span>
									<span v-html="faq.o"></span>
								</div>
							</div>
							<!-- row-end -->

							<div v-if="faqs.length > isAllowMoreFaq" class="row mt-5">
								<div class="col-md-12 text-center">
									<button @click="increaseFaq" class="btn btn-danger btn-lg">もっと見る</button>
								</div>
							</div>

         			</div>
         		</div>
         	</div>
	      </div>
			<!-- row-end -->

		<br><br>
      </div>
		<!-- container-end -->

   </div>
   <!--section-5-end-->
   <!-- FAQ-END -->
	<!-- --------------------------------------------------------------------------------------------------- -->


	<!-- --------------------------------------------------------------------------------------------------- -->
   <!-- NEW SERVICE -->
   <!--section-6-->
   <div class="container-fluid pt-5" style="background-image: url('assets/bg-arch2.jpg'); background-repeat: no-repeat; background-attachment: fixed;background-position: center;">
      <div class="container">
			<!-- row -->
         <div class="row">
         	<div class="col-md-10 offset-md-1">
         		<div class="row">
         			<div class="col-md-12">
         				<br>
         				<div class="border-bottom border-danger border-3 position-relative mt-5">
         					<span class="title-service fs-4 fw-bold text-center">CGパース・ウォークスルー動画・シミュレーションVR等についてのサービス規定</span>
         				</div>
         			</div>
         		</div>
         	</div>
	      </div>
			<!-- row-end -->

			<!-- row -->
         <div class="row">
         	<div class="col-md-10 offset-md-1">
         		<div class="row">
         			<div class="col-md-10 offset-md-1">

							<!-- row -->
							<div class="row mt-5">
								<div class="col-md-12">
									<p class="mb-5">
										このサービス規定はジャパンホームシールド株式会社（以下「JHS」といいます。）は、JHSが提供するCGパース・ウォークスルー動画・シミュレーションVR等のデジタルイメージコンテンツの制作サービス（以下「本サービス」といいます。）について、以下のとおり規程（本規程）を定めます。JHS登録事業者様（以下「事業者」といいます。）は、本規程をよくお読みいただき、内容をご理解いただいたうえで、本サービスをお申込みください。
									</p>
									<p class="mb-5">
										<b>1. 総則</b><br>
										1. 本規程は、本サービスの受委託に関する基本的事項を定めたものであり、事業者とJHSとの間で都度締結される個別契約に対して適用されるものとします。<br>
										2. 個別契約において本規程の一部の適用を排除し、又は本規程と異なる事項を定めたときは、本規程の定めにかかわらず個別契約に定めるところによるものとします。<br>
										3. 本サービスについて、本規程及び個別契約のいずれにも定めがない事項については、ジャパンホームシールド㈱事業者登録制度にかかる登録の手引き記載の「サービス規程」（以下「サービス規程」といいます）が適用されるものとします。
									</p>
									<p class="mb-5">
										<b>2. サービス内容</b><br>
										本サービスにより発生する成果物は、以下のとおりです。<br>
										① CGパース<br>
										② ウォークスルー動画<br>
										③ シミュレーションVR
									</p>
									<p class="mb-5">
										<b>3. 発注対象物件</b><br>
										1. 本サービスは、JHSへ地盤調査発注をした物件のみ、発注できます。<br>
										2. 本サービスは、戸建住宅を対象としています。事業者が戸建住宅以外の非住宅建築物、大型建造物について発注したい場合は別途JHSが見積書を提示しますので、事前にJHSへ連絡をしてください。
									</p>
									<p class="mb-5">
										<b>4. 再委託</b><br>
										JHSは、本サービスのデジタルイメージコンテンツについて、マルモリカンパニー株式会社（以下「マルモリカンパニー」といいます。）へ制作を委託します。
									</p>
									<p class="mb-5">
										<b>5. 発注方法</b><br>
										1. JHSが提供するWebサイト「JHSオンライン」から発注してください。<br>
										2. 発注方法については、別紙「JHSオンライン CG商品依頼方法」をご参照ください。
									</p>
									<p class="mb-5">
										<b>6. 必要図面</b><br>
										1. 事業者は、発注にあたりJHSが指定する下記①～⑥の図面をJHSに提供してください。<br>
										<span class="ps-3">① 平面図 </span><br>
										<span class="ps-3">② 立面図 </span><br>
										<span class="ps-3">③ 配置図 </span><br>
										<span class="ps-3">④ 仕上げ表(外壁や玄関ドアなどの型番) </span><br>
										<span class="ps-3">⑤ Google Mapで検索できる現地住所 </span><br>
										<span class="ps-3">⑥ その他任意資料（外構図、画像資料、３Dデータなど）</span><br>
										2. 図面に変更がある場合は、発注１日後までなら変更が可能です。２日を超える場合は個別にお問い合わせください。
									</p>
									<p class="mb-5">
										<b>7. 発注の確認方法</b><br>
										マルモリカンパニーから電話、メール又はChatworkを利用し、直接事業者へ連絡します。マルモリカンパニーから事業者へ連絡し、打合せ、図面受領をもってJHSの受注完了とし、制作を開始します。
									</p>
									<p>
										<b>8. 成果物の納品</b><br>
										JHSは、以下の方法で、本サービスにより発生する成果物を納品するものとします。
										<ul class="mb-5">
											<li>CGパース・・Chatwork又はメール</li>
											<li>ウォークスルー動画・・ 大容量データ転送サービス</li>
											<li>シミュレーションVR・・制作VRデータをマルモリサーバーに保管し、公開URLを案内</li>
										</ul>
									</p>
									<p class="mb-5">
										<b>9. 納品書及び納品受領</b><br>
										1.成果物納品後、JHSより電子署名システムを使用し、事業者に納品書を送付します。<br>
										2.事業者は、前条の通知をうけたときは、速やかに成果物を確認する検査を行うこととし、電子署名システムで受領確認をした時点で納品とします。通知より3営業日以内に受領確認をお願いします。受領確認ができない場合は、マルモリカンパニーより受領確認のご連絡を致します。
									</p>
									<p>
										<b>10. キャンセルについて</b><br>
										7条による制作開始以降にキャンセルをする場合は、制作進行具合状況により、以下のキャンセル費用が発生します。
										<ul class="mb-5">
											<li>アングル・形状チェック提出前：制作費の25％</li>
											<li>アングル・形状チェック提出以降：制作費の50％</li>
											<li>最終チェック提出以降：制作費の100％</li>
										</ul>
									</p>
									<p class="mb-5">
										<b>11. 大幅な修正・変更について</b><br>
										アングルチェック後のチェックバック（修正指示）以降の、大幅な修正・変更を行う場合は、再見積が必要となります。再見積の結果、キャンセルとなった場合は、前項のキャンセル金額を適用致します。
									</p>
									<p class="mb-5">
										<b>12. 著作権</b><br>
										CGパース・ウォークスルー動画・シミュレーションVR等制作データの著作権は、制作会社であるマルモリカンパニーに帰属します。マルモリカンパニーの書面による許可なく、自社商品の販促、営業、提案以外で使用することは禁止致します。
									</p>
									<p class="mb-5">
										<b>13. 禁止事項</b><br>
										1.成果物を複製・加工して販売、配布、譲渡、貸与、その他二次利用行為等を行う事は禁じます。<br>
										2.成果物は、商標・商号等に使用し、登録・登記することはできません。ただし、発注した事業者は、成果物をホームページ等のコンテンツの一部として営利・非営利を問わずご利用頂けます。<br>
										3.成果物を公序良俗に反する目的で使用することを禁じます。
									</p>
									<p class="mb-5">
										<b>14. 免責事項</b><br>
										1.成果物を使用した場合に発生する、如何なる不利益についてJHS及びマルモリカンパニーは一切の責任を負いません。<br>
										2.当サイトの利用につき、何らかのトラブルや損失・損害等につきましては一切責任を問わないものとします。
									</p>
									<p class="mb-5">
										<b>15. 本ウェブサービス内容の変更等</b><br>
										当サイトは、事業者に通知することなく本ウェブサービスの内容を変更し、または本ウェブサービスの提供を追加、変更、中断、終了することができるものとし、これによって事業者様に生じた損害について一切の責任を負いません。
									</p>
									<p class="mb-5">
										<b>16. 利用規約の変更</b><br>
										JHSは、必要と判断した場合には事業者に通知することなく、いつでも本規程を変更することができるものとします。
									</p>
									<p class="mb-5">
										<b>17. 契約不適合責任</b><br>
										本サービスの成果の種類、品質又は数量が本契約又は個別契約の内容に適合しないものである場合（以下契約不適合という）、事業者は、JHSに対し、本件成果の修補の請求、代替物若しくは不足分の引渡しの請求、損害賠償の請求、代金減額請求又は解除をすることができるものとし、JHSは、事業者が指示した方法に従うものとする。ただし、契約不適合が事業者の与えた指示によって生じたものである場合又は事業者が契約不適合を知った時から1年以内にその旨を通知しない場合はこの限りではない。
									</p>
									<p class="mb-5">
										<b>18. 代金の支払い方法及び支払い時期</b><br>
										本サービスの代金の支払い方法及び支払い時期については、個別契約で定められたJHSとの取り決め通りとする。
									</p>
									<p class="mb-5">
										<b>19. 個人情報の取り扱い</b><br>
										本サービスにおける個人情報の取り扱いに関しては、JHSのホームページに掲載している「個人情報保護方針」を適用するものとします。
									</p>
									<p class="mb-5">
										<b>20. 合意管轄</b><br>
										本サービスにおいて生じた紛争について訴訟を提起するときは、東京地方裁判所を第一審の専属的合意管轄裁判所とする。
									</p>
									

								</div>
							</div>
							<!-- row-end -->

         			</div>
         		</div>
         	</div>
	      </div>
			<!-- row-end -->

      </div>
		<!-- container-end -->

   </div>
   <!--section-6-end-->
   <!-- NEW SERVICE-END -->
	<!-- --------------------------------------------------------------------------------------------------- -->

	<!-- --------------------------------------------------------------------------------------------------- -->
   <!-- CONTACT -->
   <!--section-6-->
   <br>
   <div class="container-fluid mt-5 py-4" style="background-color: #f5f5f5;">
      <div class="container">
			<!-- row -->
         <div class="row">
         	<div class="col-md-10 offset-md-1">
         		<!-- row -->
         		<div class="row">
         			<div class="col-md-12">
         				<br>
         				<div class="border-bottom border-danger border-3 position-relative mt-5">
         					<span class="title-service fs-3 fw-bold">お問い合わせ先</span>
         				</div>
         			</div>
         		</div>
         		<!-- row-end -->

         		<!-- row -->
					<div class="row mt-3 mb-5">
						<div class="col-md-10 offset-md-1">

							<!-- row -->
							<div class="row">
								<div class="col-md-6">
									<b>制作に関するご質問、ご依頼はお電話でも承っております</b><br><br>
									<span>CG 制作協力会社</span><br>
									<span class="fs-3">株式会社</span><span class="fs-3 fw-bold">マルモリカンパニー</span>
								</div>

								<div class="col-md-6">
									<br><br>
									<p>
										<span class="">TEL</span>
										<!-- <span style="margin-left: 12px;">:</span> -->
									</p>
									<p style="margin-top: -25px;">
										<span class="fw-bold display-6">0120-315-083</span>
									</p>
									<!-- <p style="margin-top: -30px;">
										<span class="">MAIL :</span>
										<span class="ms-3 fw-bold fs-2" style="margin-top: -10px;">jhs@marumori-c.com</span>
									</p> -->
								</div>
							</div>
							<!-- row-end -->
							
						</div>
					</div>
         		<!-- row-end -->
         	</div>
	      </div>
			<!-- row-end -->

			<!-- row -->
			<!-- row-end -->
		</div>
	</div>







   
	<!-- --------------------------------------------------------------------------------------------------- -->

	<!-- --------------------------------------------------------------------------------------------------- -->
	<!-- MODAL -->

	<!-- image-modal -->
	<div :class="[modal.imgPreview, 'modal d-flex justify-content-center align-items-center']">
		<!-- The Close Button -->
		<span @click="closeImgPreview" class="close">&times;</span>
		<!-- Modal Content (The Image) -->
		<img class="modal-content" :src="modal.img">
		<!-- Modal Caption (Image Text) -->
		<div id="caption"></div>
	</div>
	<!-- end-image-modal -->

	<!-- video-modal -->
	<div :class="[modal.vidPreview, 'modal d-flex justify-content-center align-items-center mw-100 mh-100']">
		<!-- The Close Button -->
		<span @click="closeVidPreview" class="close">&times;</span>

		<!-- Modal Content (The Image) -->
		<video :key="modal.vid" :data-vid="modal.vid" id="vid" class="modal-content" controls autoplay="autoplay">
			<source :src="modal.vid" type="video/mp4" class="mw-100">
			Your browser does not support the video tag.
		</video>

		<!-- <iframe class="modal-content"src="https://www.youtube.com/watch?v=iEHyioVkoPU"></iframe> -->
		<!-- <img class="modal-content" :src="modal.Vid"> -->
		<!-- Modal Caption (Image Text) -->
		<div id="caption"></div>
	</div>
	<!-- end-video-modal -->
	<!-- END-MODAL -->
	<!-- --------------------------------------------------------------------------------------------------- -->

	<!-- --------------------------------------------------------------------------------------------------- -->
	<!-- SCROLL -->
	<div class="wrap-section-scroll d-flex flex-column position-fixed">
		<!-- <span @click="goSection(0)" :class="[{active: scrollMenuNo[0]}, 'cr-p scroll-menu-no d-inline-block rounded-circle mb-1']">0</span> -->
		<span @click="goSection(0)" :class="[{active: scrollMenuNo[0]}, 'cr-p scroll-menu-no d-inline-block rounded-circle mb-1']">1</span>
		<span @click="goSection(1)" :class="[{active: scrollMenuNo[1]}, 'cr-p scroll-menu-no d-inline-block rounded-circle mb-1']">2</span>
		<span @click="goSection(2)" :class="[{active: scrollMenuNo[2]}, 'cr-p scroll-menu-no d-inline-block rounded-circle mb-1']">3</span>
		<span @click="goSection(3)" :class="[{active: scrollMenuNo[3]}, 'cr-p scroll-menu-no d-inline-block rounded-circle mb-1']">4</span>
	</div>
	<!-- END-SCROLL -->
	<!-- --------------------------------------------------------------------------------------------------- -->


   <a href="#app" class="btn-danger text-white text-center cr-p" style="z-index: 10; position: fixed; right: 50px; bottom: 50px; width: 50px; height: 50px; font-weight: bold; line-height: 50px; border-radius: 50%;text-decoration: none; color: white !important;">Top</a>
	</div>
	<!-- END-APP-VUE -->

	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/faqs_data.js"></script>
	<script src="js/vueinstance_v20210814_05.js"></script>

</body>
</html>
